  {% extends "src/navbar.html" %} 
    {% block contentt %} 
{% load static %}

 
<body>

    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Edit Product Details</li>
          
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="icon-speech"></i>
              </a>
              <a class="btn" href="./">
                <i class="icon-graph"></i> </a>
              <a class="btn" href="#">
                <i class="icon-settings"></i> </a>
            </div>
          </li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
               <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Edit Product Categories</strong> Details</div>
                  <div class="card-body">
                    <form class="form-horizontal" action="{% url 'updateairconditionerDetails' productDetail.PRODUCT_CODE %}" method="POST" role="form">
                    {% csrf_token %}
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory1">Type</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory1" name="customcategory1">
                            <option value="Wall Mounted" {% if productDetail.CUSTOM_CATEGORY1 == "Wall Mounted" %} selected {% endif %}>Wall Mounted</option>
                            <option value="Ceiling Mounted" {% if productDetail.CUSTOM_CATEGORY1 == "Ceiling Mounted" %} selected {% endif %}>Ceiling Mounted</option>
                             <option value="Ceiling Cassette" {% if productDetail.CUSTOM_CATEGORY1 == "Ceiling Cassette" %} selected {% endif %}>Ceiling Cassette</option>
                              <option value="Floor Standing" {% if productDetail.CUSTOM_CATEGORY1 == "Floor Standing" %} selected {% endif %}>Floor Standing</option>
                               <option value="Window AC" {% if productDetail.CUSTOM_CATEGORY1 == "Window AC" %} selected {% endif %}>Window AC</option>
                               <option value="Multi Split" {% if productDetail.CUSTOM_CATEGORY1 == "Multi Split" %} selected {% endif %}>Multi Split</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory2">Inverter</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory2" name="customcategory2">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY2 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY2 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory3">Capacity(BTU wise)</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory3" name="customcategory3">
                            <option value="9000" {% if productDetail.CUSTOM_CATEGORY3 == "9000" %} selected {% endif %}>9000</option>
                            <option value="12000" {% if productDetail.CUSTOM_CATEGORY3 == "12000" %} selected {% endif %}>12000</option>
                            <option value="18000" {% if productDetail.CUSTOM_CATEGORY3 == "18000" %} selected {% endif %}>18000</option>
                            <option value="24000" {% if productDetail.CUSTOM_CATEGORY3 == "24000" %} selected {% endif %}>24000</option>
                            <option value="36000" {% if productDetail.CUSTOM_CATEGORY3 == "36000" %} selected {% endif %}>36000</option>
                            <option value="48000" {% if productDetail.CUSTOM_CATEGORY3 == "48000" %} selected {% endif %}>48000</option>
                            <option value="60000" {% if productDetail.CUSTOM_CATEGORY3 == "60000" %} selected {% endif %}>60000</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory4">Existing Modes/Replacement Code</label>
                        <div class="col-md-9">
                          <input class="form-control" id="customcategory4" type="text" name="customcategory4" value={{productDetail.CUSTOM_CATEGORY4}}>
                        </div>
                      </div>

                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory11">End of Life</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory11" name="customcategory11">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY11 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY11 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                     

                      <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                      <i class="fa fa-ban"></i> Reset</button>
                  </div>

                    </form>
                  </div>
                  
                </div>
               
              </div>
              <!-- /.col-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Product Basic</strong>
                    <small>Details</small>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="productcode">Product Code</label>
                      <input class="form-control" id="productcode" type="text" value={{productDetail.PRODUCT_CODE}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productdesc">Product Description</label>
                      <input class="form-control" id="productdesc" type="text" value={{productDetail.PRODUCT_DESCRIPTION}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productbranddesc">Brand Description</label>
                      <input class="form-control" id="productbranddesc" type="text" value={{productDetail.BRAND_LEVEL2_DESC}} disabled="">
                    </div>
                    <!-- /.row-->
                    <div class="form-group">
                      <label for="active">Active</label>
                      <input class="form-control" id="active" type="text" disabled="" value={{productDetail.ACTIVE_FLAG}} >
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
           
          </div>
        </div>
      </main>
   
</body>


      
{% endblock contentt %}
