  {% extends "src/navbar.html" %} 
    {% block contentt %} 
{% load static %}

 
<body>

    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Edit Product Details</li>
          
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="icon-speech"></i>
              </a>
              <a class="btn" href="./">
                <i class="icon-graph"></i> </a>
              <a class="btn" href="#">
                <i class="icon-settings"></i> </a>
            </div>
          </li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
               <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Edit Product Categories</strong> Details</div>
                  <div class="card-body">
                    <form class="form-horizontal" action="{% url 'updateaudioDetails' productDetail.PRODUCT_CODE %}" method="POST" role="form">
                    {% csrf_token %}
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory1">Subcategory</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory1" name="customcategory1">
                            <option value="Portable Radio" {% if productDetail.CUSTOM_CATEGORY1 == "Portable Radio" %} selected {% endif %}>Portable Radio</option>
                            <option value="Speakers" {% if productDetail.CUSTOM_CATEGORY1 == "Speakers" %} selected {% endif %}>Speakers</option>
                             <option value="Sound Bars" {% if productDetail.CUSTOM_CATEGORY1 == "Sound Bars" %} selected {% endif %}>Sound Bars</option>
                              <option value="Audio Hi-Fi" {% if productDetail.CUSTOM_CATEGORY1 == "Audio Hi-Fi" %} selected {% endif %}>Audio Hi-Fi</option>
                            </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory2">Tower</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory2" name="customcategory2">
                            <option value="Single" {% if productDetail.CUSTOM_CATEGORY2 == "Single" %} selected {% endif %}>Single</option>
                            <option value="Double" {% if productDetail.CUSTOM_CATEGORY2 == "Double" %} selected {% endif %}>Double</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY2 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory3">Bluetooth</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory3" name="customcategory3">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY3 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY3 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory4">USB</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory4" name="customcategory4">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY4 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY4 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory5">CD/DVD</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory5" name="customcategory5">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY5 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY5 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory6">Wattage(Value)</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory6" name="customcategory6">
                            <option value="<1000" {% if productDetail.CUSTOM_CATEGORY6 == "<1000" %} selected {% endif %}>less than 1000</option>
                            <option value="1000-2500" {% if productDetail.CUSTOM_CATEGORY6 == "1000-2500" %} selected {% endif %}>1000-2500</option>
                            <option value=">2500" {% if productDetail.CUSTOM_CATEGORY6 == ">2500" %} selected {% endif %}>more than 2500</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory7">Existing Modes/Replacement Code</label>
                        <div class="col-md-9">
                          <input class="form-control" id="customcategory7" type="text" name="customcategory7" value={{productDetail.CUSTOM_CATEGORY7}}>
                        </div>
                      </div>

                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory11">End of Life</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory11" name="customcategory11">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY11 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY11 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                     

                      <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                      <i class="fa fa-ban"></i> Reset</button>
                  </div>

                    </form>
                  </div>
                  
                </div>
               
              </div>
              <!-- /.col-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Product Basic</strong>
                    <small>Details</small>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="productcode">Product Code</label>
                      <input class="form-control" id="productcode" type="text" value={{productDetail.PRODUCT_CODE}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productdesc">Product Description</label>
                      <input class="form-control" id="productdesc" type="text" value={{productDetail.PRODUCT_DESCRIPTION}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productbranddesc">Brand Description</label>
                      <input class="form-control" id="productbranddesc" type="text" value={{productDetail.BRAND_LEVEL2_DESC}} disabled="">
                    </div>
                    <!-- /.row-->
                    <div class="form-group">
                      <label for="active">Active</label>
                      <input class="form-control" id="active" type="text" disabled="" value={{productDetail.ACTIVE_FLAG}} >
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
           
          </div>
        </div>
      </main>
   
</body>


      
{% endblock contentt %}
