<!DOCTYPE html>
<!--
* CoreUI Pro - Bootstrap Admin Template
* @version v2.1.5
* @link https://coreui.io/pro/
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* License (https://coreui.io/pro/license)
-->

<html lang="en">
  <head>
  {% load staticfiles %}<!-- 
    <base href="{% static '/' %}"> -->
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Pro Bootstrap Admin Template</title>
    <link href="{% static '@coreui/icons/css/coreui-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
    <link href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
   <!--  <link href="//maxcdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" rel="stylesheet">
    <link href="//maxcdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
 -->
  
  </head>

 

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown d-md-down-none">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger">5</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
            <div class="dropdown-header text-center">
              <strong>You have 5 notifications</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="icon-user-follow text-success"></i> New user registered</a>
            <a class="dropdown-item" href="#">
              <i class="icon-user-unfollow text-danger"></i> User deleted</a>
            <a class="dropdown-item" href="#">
              <i class="icon-chart text-info"></i> Sales report is ready</a>
            <a class="dropdown-item" href="#">
              <i class="icon-basket-loaded text-primary"></i> New client</a>
            <a class="dropdown-item" href="#">
              <i class="icon-speedometer text-warning"></i> Server overloaded</a>
            <div class="dropdown-header text-center">
              <strong>Server</strong>
            </div>
            <a class="dropdown-item" href="#">
              <div class="text-uppercase mb-1">
                <small>
                  <b>CPU Usage</b>
                </small>
              </div>
              <span class="progress progress-xs">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </span>
              <small class="text-muted">348 Processes. 1/4 Cores.</small>
            </a>
            <a class="dropdown-item" href="#">
              <div class="text-uppercase mb-1">
                <small>
                  <b>Memory Usage</b>
                </small>
              </div>
              <span class="progress progress-xs">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </span>
              <small class="text-muted">11444GB/16384MB</small>
            </a>
            <a class="dropdown-item" href="#">
              <div class="text-uppercase mb-1">
                <small>
                  <b>SSD 1 Usage</b>
                </small>
              </div>
              <span class="progress progress-xs">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </span>
              <small class="text-muted">243GB/256GB</small>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown d-md-down-none">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="icon-list"></i>
            <span class="badge badge-pill badge-warning">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
            <div class="dropdown-header text-center">
              <strong>You have 5 pending tasks</strong>
            </div>
            <a class="dropdown-item" href="#">
              <div class="small mb-1">Upgrade NPM & Bower
                <span class="float-right">
                  <strong>0%</strong>
                </span>
              </div>
              <span class="progress progress-xs">
                <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="small mb-1">ReactJS Version
                <span class="float-right">
                  <strong>25%</strong>
                </span>
              </div>
              <span class="progress progress-xs">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="small mb-1">VueJS Version
                <span class="float-right">
                  <strong>50%</strong>
                </span>
              </div>
              <span class="progress progress-xs">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="small mb-1">Add new layouts
                <span class="float-right">
                  <strong>75%</strong>
                </span>
              </div>
              <span class="progress progress-xs">
                <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </span>
            </a>
            <a class="dropdown-item" href="#">
              <div class="small mb-1">Angular 2 Cli Version
                <span class="float-right">
                  <strong>100%</strong>
                </span>
              </div>
              <span class="progress progress-xs">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </span>
            </a>
            <a class="dropdown-item text-center" href="#">
              <strong>View all tasks</strong>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown d-md-down-none">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="icon-envelope-letter"></i>
            <span class="badge badge-pill badge-info">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
            <div class="dropdown-header text-center">
              <strong>You have 4 messages</strong>
            </div>
            <a class="dropdown-item" href="#">
              <div class="message">
                <div class="py-3 mr-3 float-left">
                  <div class="avatar">
                    <img class="img-avatar" src="img/avatars/7.jpg" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">John Doe</small>
                  <small class="text-muted float-right mt-1">Just now</small>
                </div>
                <div class="text-truncate font-weight-bold">
                  <span class="fa fa-exclamation text-danger"></span> Important message</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
              </div>
            </a>
            <a class="dropdown-item" href="#">
              <div class="message">
                <div class="py-3 mr-3 float-left">
                  <div class="avatar">
                    <img class="img-avatar" src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-warning"></span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">John Doe</small>
                  <small class="text-muted float-right mt-1">5 minutes ago</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
              </div>
            </a>
            <a class="dropdown-item" href="#">
              <div class="message">
                <div class="py-3 mr-3 float-left">
                  <div class="avatar">
                    <img class="img-avatar" src="img/avatars/5.jpg" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">John Doe</small>
                  <small class="text-muted float-right mt-1">1:52 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
              </div>
            </a>
            <a class="dropdown-item" href="#">
              <div class="message">
                <div class="py-3 mr-3 float-left">
                  <div class="avatar">
                    <img class="img-avatar" src="img/avatars/4.jpg" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-info"></span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">John Doe</small>
                  <small class="text-muted float-right mt-1">4:03 PM</small>
                </div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
              </div>
            </a>
            <a class="dropdown-item text-center" href="#">
              <strong>View all messages</strong>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="img-avatar" src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Account</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-bell-o"></i> Updates
              <span class="badge badge-info">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-envelope-o"></i> Messages
              <span class="badge badge-success">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-tasks"></i> Tasks
              <span class="badge badge-danger">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-comments"></i> Comments
              <span class="badge badge-warning">42</span>
            </a>
            <div class="dropdown-header text-center">
              <strong>Settings</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-wrench"></i> Settings</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-usd"></i> Payments
              <span class="badge badge-dark">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-file"></i> Projects
              <span class="badge badge-primary">42</span>
            </a>
            <div class="divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-shield"></i> Lock Account</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <div class="app-body">
         {% block content %} by using super you can call here written data {% endblock content %}


</div>
    <footer class="app-footer">
      <div>
        <a href="https://coreui.io/pro/">CoreUI Pro</a>
        <span>&copy; 2018 creativeLabs.</span>
      </div>
      <div class="ml-auto">
        <span>Powered by</span>
        <a href="https://coreui.io/pro/">CoreUI Pro</a>
      </div>
    </footer>

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pace-progress/pace.min.js' %}"></script>
    <script src="{% static 'perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static '/@coreui/coreui-pro/dist/js/coreui.min.js' %}"></script>
   

    <script src="{% static 'datatables.net/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'datatables.net-bs4/js/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'js/datatables.js' %}"></script>


  
   
</body>

</html>
