  {% extends "src/navbar.html" %} 
    {% block contentt %} 
{% load static %}

 
<body>

        <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="#">Admin</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="icon-speech"></i>
              </a>
              <a class="btn" href="./">
                <i class="icon-graph"></i>  Dashboard</a>
              <a class="btn" href="#">
                <i class="icon-settings"></i>  Settings</a>
            </div>
          </li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-edit"></i> DataTables
                <div class="card-header-actions">
                  <a class="card-header-action" href="https://datatables.net" target="_blank">
                    <small class="text-muted">docs</small>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <table class="table table-striped table-bordered datatable">
                  <thead>
                    <tr>
                      <th>Product Code</th>
                      <th>Product Desc</th>
                      <th>Brand Desc</th>
                      <th>Custom Category1</th>
                      <th>Custom Category2</th>
                      <th>Custom Category3</th>
                      <th>Custom Category4</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for product in products %}
                    <tr>
                      <td>{{product.PRODUCT_CODE}}</td>
                      <td>{{product.PRODUCT_DESCRIPTION}}</td>
                      <td>{{product.BRAND_LEVEL2_DESC}}</td>
                      <td>{{product.CUSTOM_CATEGORY1}}</td>
                      <td>{{product.CUSTOM_CATEGORY2}}</td>
                      <td>{{product.CUSTOM_CATEGORY3}}</td>
                      <td>{{product.CUSTOM_CATEGORY4}}</td>
                      <td>
                        <span class="badge badge-success">{{product.ACTIVE_FLAG}}</span>
                      </td>
                      <td>
                    
                        <a class="btn btn-info" href="{% url 'refrigeratorEditForm' product.PRODUCT_CODE %}" data-toggle="modal" id="edit" data-target="#myModal">
                          <i class="fa fa-edit"></i>
                        </a>
                        
                      </td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>

  
 
              </div>
            </div>
          </div>
        </div>
          </main>


          <div class="modal fade" id="edit-product" role="dialog">
      <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Product Data</h4>
        </div>
        <div class="modal-body edit-user-p">
       <label>
      <span>PRODUCT CODE:</span> <input type="text" id="product_code" alt="" value="{{product_code}}" disabled>
      </label>
      <label>
      <span>PRODUCT DESC:</span> <input type="text" id="product_desc" alt="" value="{{product_desc}}" disabled>
      </label>
      <label>
      <span>BRAND DESC:</span> <input type="text" id="brand_desc" alt="" value="{{brand_desc}}" disabled>
      </label>
      <label>
      <span>ACTIVE FLAG:</span> <input type="text" id="active_flag" alt="" value={{active_flag}}>
      </label>
      <label>
      <span>CUSTOM FIELD1:</span> <input type="text" id="custom_field1" alt="" value="{{custom_field1}}">
      </label>
      <label>
      <span>CUSTOM FIELD2:</span> <input type="text" id="custom_field2" alt="" value={{custom_field2}}>
      </label> 
      <label>
      <span>CUSTOM FIELD3:</span> <input type="text" id="custom_field3" alt="" value={{custom_field3}}>
      </label> 
      <label>
      <span>CUSTOM FIELD4:</span> <input type="text" id="custom_field4" alt="" value={{custom_field4}}>
      </label> 
      <label>
      <span>CUSTOM FIELD5:</span> <input type="text" id="custom_field4" alt="" value={{custom_field5}}>
      </label>      
      </div>

        <div class="modal-footer">      
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="editdetails()"> Save </button>
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismiss()">Close</button>
        </div>
     </div>
    </div>
  </div>


    
  
   
</body>


      
{% endblock contentt %}
