  {% extends "src/navbar.html" %} 
    {% block contentt %} 
{% load static %}

 
<body>

        <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Air Conditioner Product Details</li>
          
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="icon-speech"></i>
              </a>
              <a class="btn" href="./">
                <i class="icon-graph"></i> </a>
              <a class="btn" href="#">
                <i class="icon-settings"></i> </a>
            </div>
          </li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="card">
              <div class="card-header">
                <div class="card-header-actions">
                  <a class="card-header-action" target="_blank">
                    <small class="text-muted"></small>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <table class="table table-striped table-bordered datatable">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Product Code</th>
                      <th>Product Desc</th>
                      <th>Brand Desc</th>
                      <th>Use</th>
                      <th>Type</th>
                      <th>Existing Models/Replacement Code</th>
                      <th>End of Life</th>
                      <th>Active</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  {% for product in products %}
                    <tr>
                     <td>
                    
                        <a class="btn btn-info" href="{% url 'fanEditForm' product.PRODUCT_CODE %}" id="edit" >
                          <i class="fa fa-edit"></i>
                        </a>
                        
                      </td>
                      <td>{{product.PRODUCT_CODE}}</td>
                      <td>{{product.PRODUCT_DESCRIPTION}}</td>
                      <td>{{product.BRAND_LEVEL2_DESC}}</td>
                      <td>{{product.CUSTOM_CATEGORY1}}</td>
                      <td>{{product.CUSTOM_CATEGORY2}}</td>
                      <td>{{product.CUSTOM_CATEGORY3}}</td>
                      <td>{{product.CUSTOM_CATEGORY11}}</td>
                      <td>
                        <span class="badge badge-success">{{product.ACTIVE_FLAG}}</span>
                      </td>
                     
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>

  
 
              </div>
            </div>
          </div>
        </div>
          </main>


        
   
</body>


      
{% endblock contentt %}
