  {% extends "src/navbar.html" %} 
    {% block contentt %} 
{% load static %}

 
<body>

    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Edit Product Details</li>
          
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="icon-speech"></i>
              </a>
              <a class="btn" href="./">
                <i class="icon-graph"></i> </a>
              <a class="btn" href="#">
                <i class="icon-settings"></i> </a>
            </div>
          </li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
               <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Edit Product Categories</strong> Details</div>
                  <div class="card-body">
                    <form class="form-horizontal" action="{% url 'updateironDetails' productDetail.PRODUCT_CODE %}" method="POST" role="form">
                    {% csrf_token %}
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory1">Weight</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory1" name="customcategory1">
                            <option value="Heavy" {% if productDetail.CUSTOM_CATEGORY1 == "Heavy" %} selected {% endif %}>Heavy</option>
                            <option value="Light" {% if productDetail.CUSTOM_CATEGORY1 == "Light" %} selected {% endif %}>Light</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory2">Functionality</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory2" name="customcategory2">
                            <option value="Dry" {% if productDetail.CUSTOM_CATEGORY2 == "Dry" %} selected {% endif %}>Dry</option>
                            <option value="Steam" {% if productDetail.CUSTOM_CATEGORY2 == "Steam" %} selected {% endif %}>Steam</option>
                            <option value="Garment Steamer" {% if productDetail.CUSTOM_CATEGORY2 == "Garment Steamer" %} selected {% endif %}>Garment Steamer</option>
                            <option value="Steam Station" {% if productDetail.CUSTOM_CATEGORY2 == "Steam Station" %} selected {% endif %}>Steam Station</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory3">Sole Plate</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory3" name="customcategory3">
                            <option value="Non-Stick" {% if productDetail.CUSTOM_CATEGORY3 == "Non-Stick" %} selected {% endif %}>Non-Stick</option>
                            <option value="Ceramic" {% if productDetail.CUSTOM_CATEGORY3 == "Ceramic" %} selected {% endif %}>Ceramic</option>
                            <option value="Specialized Sole Plate" {% if productDetail.CUSTOM_CATEGORY3 == "Specialized Sole Plate" %} selected {% endif %}>Specialized Sole Plate</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory4">Existing Modes/Replacement Code</label>
                        <div class="col-md-9">
                          <input class="form-control" id="customcategory4" type="text" name="customcategory4" value={{productDetail.CUSTOM_CATEGORY4}}>
                        </div>
                      </div>

                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory11">End of Life</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory11" name="customcategory11">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY11 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY11 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                     

                      <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                      <i class="fa fa-ban"></i> Reset</button>
                  </div>

                    </form>
                  </div>
                  
                </div>
               
              </div>
              <!-- /.col-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Product Basic</strong>
                    <small>Details</small>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="productcode">Product Code</label>
                      <input class="form-control" id="productcode" type="text" value={{productDetail.PRODUCT_CODE}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productdesc">Product Description</label>
                      <input class="form-control" id="productdesc" type="text" value={{productDetail.PRODUCT_DESCRIPTION}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productbranddesc">Brand Description</label>
                      <input class="form-control" id="productbranddesc" type="text" value={{productDetail.BRAND_LEVEL2_DESC}} disabled="">
                    </div>
                    <!-- /.row-->
                    <div class="form-group">
                      <label for="active">Active</label>
                      <input class="form-control" id="active" type="text" disabled="" value={{productDetail.ACTIVE_FLAG}} >
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
           
          </div>
        </div>
      </main>
   
</body>


      
{% endblock contentt %}
