  {% extends "src/navbar.html" %} 
    {% block contentt %} 
{% load static %}

 
<body>

    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Edit Product Details</li>
          
         
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
               <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Edit Product Categories</strong> Details</div>
                  <div class="card-body">
                    <form class="form-horizontal" action="{% url 'updateKitchenappliancesDetails' productDetail.PRODUCT_CODE %}" method="POST" role="form">
                    {% csrf_token %}
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory1">SubCategory</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory1" name="customcategory1">
                            <option value="Mixer Grinder" {% if productDetail.CUSTOM_CATEGORY3 == "Mixer Grinder" %} selected {% endif %}>Mixer Grinder</option>
                            <option value="Toasters / Waffle Makers" {% if productDetail.CUSTOM_CATEGORY3 == "Toasters / Waffle Makers" %} selected {% endif %}>Toasters / Waffle Makers</option>
                            <option value="Juicers/ Blenders / Smoothie Makers" {% if productDetail.CUSTOM_CATEGORY3 == "Juicers/ Blenders / Smoothie Makers" %} selected {% endif %}>Juicers/ Blenders / Smoothie Makers</option>
                            <option value="Food Processor/ Kitchen Machines" {% if productDetail.CUSTOM_CATEGORY3 == "Food Processor/ Kitchen Machines" %} selected {% endif %}>Food Processor/ Kitchen Machines</option>
                            <option value="Hand Mixers / Blenders" {% if productDetail.CUSTOM_CATEGORY3 == "Hand Mixers / Blenders" %} selected {% endif %}>Hand Mixers / Blenders</option>
                            <option value="Coffee Makers" {% if productDetail.CUSTOM_CATEGORY3 == "Coffee Makers" %} selected {% endif %}>Coffee Makers</option>
                            <option value="Kettles" {% if productDetail.CUSTOM_CATEGORY3 == "Kettles" %} selected {% endif %}>Kettles</option>
                            <option value="Fryers / Grills" {% if productDetail.CUSTOM_CATEGORY3 == "Fryers / Grills" %} selected {% endif %}>Fryers / Grills</option>
                            <option value="Others" {% if productDetail.CUSTOM_CATEGORY3 == "Others" %} selected {% endif %}>Others</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory2">Existing Modes/Replacement Code</label>
                        <div class="col-md-9">
                          <input class="form-control" id="customcategory2" type="text" name="customcategory2" value={{productDetail.CUSTOM_CATEGORY2}}>
                        </div>
                      </div>

                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory11">End of Life</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory11" name="customcategory11">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY11 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY11 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                     

                      <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                      <i class="fa fa-ban"></i> Reset</button>
                  </div>

                    </form>
                  </div>
                  
                </div>
               
              </div>
              <!-- /.col-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Product Basic</strong>
                    <small>Details</small>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="productcode">Product Code</label>
                      <input class="form-control" id="productcode" type="text" value={{productDetail.PRODUCT_CODE}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productdesc">Product Description</label>
                      <input class="form-control" id="productdesc" type="text" value={{productDetail.PRODUCT_DESCRIPTION}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productbranddesc">Brand Description</label>
                      <input class="form-control" id="productbranddesc" type="text" value={{productDetail.BRAND_LEVEL2_DESC}} disabled="">
                    </div>
                    <!-- /.row-->
                    <div class="form-group">
                      <label for="active">Active</label>
                      <input class="form-control" id="active" type="text" disabled="" value={{productDetail.ACTIVE_FLAG}} >
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
           
          </div>
        </div>
      </main>
   
</body>


      
{% endblock contentt %}
