  {% extends "src/navbar.html" %} 
    {% block contentt %} 
{% load static %}

 
<body>

    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Edit Product Details</li>
          
        
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
               <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Edit Product Categories</strong> Details</div>
                  <div class="card-body">
                    <form class="form-horizontal" action="{% url 'updateTelevisionDetails' productDetail.PRODUCT_CODE %}" method="POST" role="form">
                    {% csrf_token %}
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory1">Size(in inchs)</label>
                        <div class="col-md-9">
                          <input class="form-control" id="customcategory1" type="number" name="customcategory1" value={{productDetail.CUSTOM_CATEGORY1}}>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory2">Smart</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory2" name="customcategory2">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY2 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY2 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory3">Resolution</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory3" name="customcategory3">
                            <option value="HD" {% if productDetail.CUSTOM_CATEGORY3 == "HD" %} selected {% endif %}>HD</option>
                            <option value="Full HD" {% if productDetail.CUSTOM_CATEGORY3 == "Full HD" %} selected {% endif %}>Full HD</option>
                            <option value="4K" {% if productDetail.CUSTOM_CATEGORY3 == "4K" %} selected {% endif %}>4K</option>
                            <option value="Others" {% if productDetail.CUSTOM_CATEGORY3 == "Others" %} selected {% endif %}>Others</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory4">Operating System</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory4" name="customcategory4">
                            <option value="Android" {% if productDetail.CUSTOM_CATEGORY4 == "Android" %} selected {% endif %}>Android</option>
                            <option value="Others" {% if productDetail.CUSTOM_CATEGORY4 == "Others" %} selected {% endif %}>Others</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory5">Shape</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory5" name="customcategory5">
                            <option value="Curve" {% if productDetail.CUSTOM_CATEGORY5 == "Curve" %} selected {% endif %}>Curve</option>
                            <option value="Flat" {% if productDetail.CUSTOM_CATEGORY5 == "Flat" %} selected {% endif %}>Flat</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory6">Existing Modes/Replacement Code</label>
                        <div class="col-md-9">
                          <input class="form-control" id="customcategory6" type="text" name="customcategory6" value={{productDetail.CUSTOM_CATEGORY6}}>
                        </div>
                      </div>

                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory11">End of Life</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory11" name="customcategory11">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY11 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY11 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                     

                      <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                      <i class="fa fa-ban"></i> Reset</button>
                  </div>

                    </form>
                  </div>
                  
                </div>
               
              </div>
              <!-- /.col-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Product Basic</strong>
                    <small>Details</small>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="productcode">Product Code</label>
                      <input class="form-control" id="productcode" type="text" value={{productDetail.PRODUCT_CODE}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productdesc">Product Description</label>
                      <input class="form-control" id="productdesc" type="text" value={{productDetail.PRODUCT_DESCRIPTION}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productbranddesc">Brand Description</label>
                      <input class="form-control" id="productbranddesc" type="text" value={{productDetail.BRAND_LEVEL2_DESC}} disabled="">
                    </div>
                    <!-- /.row-->
                    <div class="form-group">
                      <label for="active">Active</label>
                      <input class="form-control" id="active" type="text" disabled="" value={{productDetail.ACTIVE_FLAG}} >
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
           
          </div>
        </div>
      </main>
   
</body>


      
{% endblock contentt %}
