  {% extends "src/navbar.html" %} 
    {% block contentt %} 
{% load static %}

 
<body>

        <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Washing Machine Product Details</li>
          
        
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="card">
              <div class="card-header">
                <div class="card-header-actions">
                  <a class="card-header-action" target="_blank" href="{% url 'export_washingmachine_productdetails_xls' %}">
                    <div class="btn btn-primary">Export</div>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <table class="table table-striped table-bordered datatable">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>Product Code</th>
                      <th>Product Desc</th>
                      <th>Brand Desc</th>
                      <th>Capacity(in ltrs)</th>
                      <th>Automatic Type</th>
                      <th>Load</th>                      
                      <th>Inverter</th>
                      <th>Active</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  {% for product in products %}
                    <tr>
                     <td>
                    
                        <a class="btn btn-info" href="{% url 'washingmachineEditForm' product.PRODUCT_CODE %}" id="edit" >
                          <i class="fa fa-edit"></i>
                        </a>
                        
                      </td>
                      <td>{{product.PRODUCT_CODE}}</td>
                      <td>{{product.PRODUCT_DESCRIPTION}}</td>
                      <td>{{product.BRAND_LEVEL2_DESC}}</td>
                      <td>{{product.CUSTOM_CATEGORY1}}</td>
                      <td>{{product.CUSTOM_CATEGORY2}}</td>
                      <td>{{product.CUSTOM_CATEGORY3}}</td>
                      <td>{{product.CUSTOM_CATEGORY4}}</td>
                      <td>
                        <span class="badge badge-success">{{product.ACTIVE_FLAG}}</span>
                      </td>
                     
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>

  
 
              </div>
            </div>
          </div>
        </div>
          </main>


        
   
</body>


      
{% endblock contentt %}
