  {% extends "src/navbar.html" %} 
    {% block contentt %} 
{% load static %}

 
<body>

    <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Edit Product Details</li>
          
        
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
               <div class="col-md-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Edit Product Categories</strong> Details</div>
                  <div class="card-body">
                    <form class="form-horizontal" action="{% url 'updatewaterpumpDetails' productDetail.PRODUCT_CODE %}" method="POST" role="form">
                    {% csrf_token %}
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory1">Category</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory1" name="customcategory1">
                            <option value="Domestic" {% if productDetail.CUSTOM_CATEGORY1 == "Domestic" %} selected {% endif %}>Domestic</option>
                            <option value="Agriculture" {% if productDetail.CUSTOM_CATEGORY1 == "Agriculture" %} selected {% endif %}>Agriculture</option>
                            </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory2">Pump Type</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory2" name="customcategory2">
                            <option value="Submersible" {% if productDetail.CUSTOM_CATEGORY2 == "Submersible" %} selected {% endif %}>Submersible</option>
                            <option value="Normal" {% if productDetail.CUSTOM_CATEGORY2 == "Normal" %} selected {% endif %}>Normal</option>
                            <option value="Pressure" {% if productDetail.CUSTOM_CATEGORY2 == "Pressure" %} selected {% endif %}>Pressure</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory3">Submersible Type</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory3" name="customcategory3">
                            <option value="Normal" {% if productDetail.CUSTOM_CATEGORY3 == "Normal" %} selected {% endif %}>Normal</option>
                            <option value="Tube" {% if productDetail.CUSTOM_CATEGORY3 == "Tube" %} selected {% endif %}>Tube</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory4">Horse Power Rating</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory4" name="customcategory4">
                            <option value="0.5" {% if productDetail.CUSTOM_CATEGORY4 == "0.5" %} selected {% endif %}>0.5</option>
                            <option value="1" {% if productDetail.CUSTOM_CATEGORY4 == "1" %} selected {% endif %}>1</option>
                            <option value="1.5" {% if productDetail.CUSTOM_CATEGORY4 == "1.5" %} selected {% endif %}>1.5</option>
                            <option value="2" {% if productDetail.CUSTOM_CATEGORY4 == "2" %} selected {% endif %}>2</option>
                            <option value="2.5" {% if productDetail.CUSTOM_CATEGORY4 == "2.5" %} selected {% endif %}>2.5</option>
                            <option value="3" {% if productDetail.CUSTOM_CATEGORY4 == "3" %} selected {% endif %}>3</option>
                            <option value="3.5" {% if productDetail.CUSTOM_CATEGORY4 == "3.5" %} selected {% endif %}>3.5</option>
                            <option value="4" {% if productDetail.CUSTOM_CATEGORY4 == "4" %} selected {% endif %}>4</option>
                            <option value="4.5" {% if productDetail.CUSTOM_CATEGORY4 == "4.5" %} selected {% endif %}>4.5</option>
                            <option value="5" {% if productDetail.CUSTOM_CATEGORY4 == "5" %} selected {% endif %}>5</option>
                            <option value="5.5" {% if productDetail.CUSTOM_CATEGORY4 == "5.5" %} selected {% endif %}>5.5</option>
                            <option value="6" {% if productDetail.CUSTOM_CATEGORY4 == "6" %} selected {% endif %}>6</option>
                            <option value="6.5" {% if productDetail.CUSTOM_CATEGORY4 == "6.5" %} selected {% endif %}>6.5</option>
                            <option value="7" {% if productDetail.CUSTOM_CATEGORY4 == "7" %} selected {% endif %}>7</option>
                            <option value="7.5" {% if productDetail.CUSTOM_CATEGORY4 == "7.5" %} selected {% endif %}>7.5</option>
                            <option value="8" {% if productDetail.CUSTOM_CATEGORY4 == "8" %} selected {% endif %}>8</option>
                            <option value="8.5" {% if productDetail.CUSTOM_CATEGORY4 == "8.5" %} selected {% endif %}>9.5</option>
                            <option value="9" {% if productDetail.CUSTOM_CATEGORY4 == "9" %} selected {% endif %}>9</option>
                            <option value="9.5" {% if productDetail.CUSTOM_CATEGORY4 == "9.5" %} selected {% endif %}>9.5</option>
                            <option value="10" {% if productDetail.CUSTOM_CATEGORY4 == "10" %} selected {% endif %}>10</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory5">Pipes</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory5" name="customcategory5">
                            <option value="1" {% if productDetail.CUSTOM_CATEGORY5 == "1" %} selected {% endif %}>1</option>
                            <option value="2" {% if productDetail.CUSTOM_CATEGORY5 == "2" %} selected {% endif %}>2</option>
                            <option value="3" {% if productDetail.CUSTOM_CATEGORY5 == "3" %} selected {% endif %}>3</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory6">Factory vs Direct Imports</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory6" name="customcategory6">
                            <option value="Factory" {% if productDetail.CUSTOM_CATEGORY6 == "Factory" %} selected {% endif %}>Factory</option>
                            <option value="Import" {% if productDetail.CUSTOM_CATEGORY6 == "Import" %} selected {% endif %}>Import</option>
                          </select>
                        </div>
                      </div>
                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory7">Country of Origin of Motor</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory7" name="customcategory7">
                            <option value="China" {% if productDetail.CUSTOM_CATEGORY7 == "China" %} selected {% endif %}>China</option>
                           <option value="India" {% if productDetail.CUSTOM_CATEGORY7 == "India" %} selected {% endif %}>India</option>
                           <option value="Italy" {% if productDetail.CUSTOM_CATEGORY7 == "Italy" %} selected {% endif %}>Italy</option>
                           <option value="Thailand" {% if productDetail.CUSTOM_CATEGORY7 == "Thailand" %} selected {% endif %}>Thailand</option>
                           <option value="Vietnam" {% if productDetail.CUSTOM_CATEGORY7 == "Vietnam" %} selected {% endif %}>Vietnam</option>
                           <option value="Bangladesh" {% if productDetail.CUSTOM_CATEGORY7 == "Bangladesh" %} selected {% endif %}>Bangladesh</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory8">Existing Modes/Replacement Code</label>
                        <div class="col-md-9">
                          <input class="form-control" id="customcategory8" type="text" name="customcategory8" value={{productDetail.CUSTOM_CATEGORY8}}>
                        </div>
                      </div>

                       <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="customcategory11">End of Life</label>
                        <div class="col-md-9">
                          <select class="form-control" id="customcategory11" name="customcategory11">
                            <option value="Yes" {% if productDetail.CUSTOM_CATEGORY11 == "Yes" %} selected {% endif %}>Yes</option>
                            <option value="No" {% if productDetail.CUSTOM_CATEGORY11 == "No" %} selected {% endif %}>No</option>
                          </select>
                        </div>
                      </div>
                     

                      <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                      <i class="fa fa-ban"></i> Reset</button>
                  </div>

                    </form>
                  </div>
                  
                </div>
               
              </div>
              <!-- /.col-->
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <strong>Product Basic</strong>
                    <small>Details</small>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="productcode">Product Code</label>
                      <input class="form-control" id="productcode" type="text" value={{productDetail.PRODUCT_CODE}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productdesc">Product Description</label>
                      <input class="form-control" id="productdesc" type="text" value={{productDetail.PRODUCT_DESCRIPTION}} disabled="">
                    </div>
                    <div class="form-group">
                      <label for="productbranddesc">Brand Description</label>
                      <input class="form-control" id="productbranddesc" type="text" value={{productDetail.BRAND_LEVEL2_DESC}} disabled="">
                    </div>
                    <!-- /.row-->
                    <div class="form-group">
                      <label for="active">Active</label>
                      <input class="form-control" id="active" type="text" disabled="" value={{productDetail.ACTIVE_FLAG}} >
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
           
          </div>
        </div>
      </main>
   
</body>


      
{% endblock contentt %}
