<!DOCTYPE html>
<html lang="en">
<head>
    <title>Singer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
     <link href="login-style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
    
     {% load staticfiles %}
       
       <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
       <script src="{% static 'js/function.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <link href="{% static 'bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
 {% include 'snippets/css.html' %}

<body>
<div>
    <div>

        <!-- <div class="dvAlign">
            <img src="http://www.testingxperts.com/wp-content/themes/testingxperts/img/logo.png" alt="Cinque Terre"  height="50">&nbsp;&nbsp;
            <img src="https://www.damcogroup.com/wp-content/themes/DamcoNew/images/damco-logo-latest.png"  height="50" />

        </div> -->
         {% block content %} by using super you can call here written data {% endblock content %}
    </div>
	</div>
	
</body>
</html>
