 {% extends "base.html" %} 
    {% block content %} 
{% load static %}
{% load table_tags %}
    <body class="main-bg-img-area">
        <div class="pf-bg">
		      <div class="top-small-bar">
              <form role="form" method="POST" action="{% url 'searchProducts' %}">
               {% csrf_token %}
                  <select class="drop-down" name="category">
                  {% if categoryname %}
                   <option value="" disabled selected hidden>{{categoryname}}</option>
                   {% else %}
                    <option value="" disabled selected hidden>Select category</option>
                   {% endif %}

                    {% for categoryname in categorylist %}
                     <option value="{{categoryname}}">{{categoryname}}</option>
                    {% endfor %}
                  </select>
          
                <button class="buttonblue" type="submit" name="submit">Submit</button>

           

              </form>
           
		      </div>
    <div class="container container-bg-white tr-area">
        <h3>Products List</h3>
        <br />

        {% render_table productdetails %}
    </div>
     </div>
       
       
    </body>

{%  endblock content %}